@charset "utf-8";
/* CSS Document */
html{
	width: 100%;
	height: 100%;
	direction: ltr;
}
body {
	background-color:#D45837;
}
.anagovde{
	background-color:#D3E1E6;
	margin: auto;
	border-radius: 15px;
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	padding-bottom: 15px;
	overflow: hidden;
	
}
.banner{
	padding: 5px;
	background-color:#46555C;
	height: 117px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}


.basliktipi{
	text-align: center;
	color: white;
}
.Baslik{
	font-family: 'Brygada 1918', serif;
	font-size: 25px;
}

.Logo{
	margin: auto;
	border-radius: 5px;
	border-top-left-radius: 15px;
	float: left;
		
}
.orneklogo{
	margin: auto;
	border-top-left-radius: 15px;
	border-radius: 5px;
	width: 117px;
	height: 117px;
}
.menualani{
	display:inline-block;
	height: auto;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 5px;
	overflow: hidden;
	text-align: center;
	
}
.menusinirlari{
	display:inline-block;
	height: auto;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	text-align: center;
}
.menusecenekleralani{
	display:inline-block;
	margin: 0 auto;
	padding: 0;
	height: auto;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}
.menusecenekleri{
	display: inline-block;
	float: left;
	list-style: none;
	vertical-align: middle;
	margin: 5px;
	font-family: 'Noto Serif', serif;
}
.menusecenekleri a{
	background-color:#D45837;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
	border-radius: 5px;
  display: inline-block;
}
.menusecenekleri a:hover{
	background-color: #723424;
	border-radius: 5px;
}
.usturunalani{
	display: inline-block;
	margin: 5px;
	float: left;
	padding: 0;
	height: 100%;
	width: 70%;
	border: solid #D45837 5px;
	min-width: 70%;
	max-width: 70%;
	overflow: auto;
	border-radius: 10px;
}
.usturunsiniri{
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
.urunler{
	display: inline-block;
	border-radius: 0;
	overflow: hidden;
}
.urun{
	float: left;
	margin: 5px;
}
.fiyat{
	display: inline-block;
	text-align: center;
	padding: 3px;
	margin: 0;
	font-family: 'Inconsolata', monospace;
}
.urunfoto{
	border-radius: 5px;
}
.yanurunalani{
	display: block;
	margin: 5px;
	padding: 0;
	overflow:auto;
	height: 100%;
	border: solid #D45837 5px;
	border-radius: 10px;
	float: left;
	width: 25%;
}
.yanurunsiniri{
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
.alturunalani{
	display: block;
	width: 70%;
	float: none;
	margin: 0;
	padding: 0;
	height: 100px;
	max-width: 70%;
	min-width: 70%;
	background-color: aqua;
}